.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  a {
    text-decoration: #545a6d;
    text-transform: none;
    color: inherit;
  }
  
  #header-menu {
    padding: 8px 16px;
    text-align: center;
  }
  
  .parent {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .child-left {
    height: 100%;
    display: flex;
    width: 250px;
    position: fixed;
  }
  
  .child-left ul {
    width: 100%;
    padding-inline-start: 0px;
  }
  
  .child-left ul li {
    display: block;
    padding: 0.625rem 1.5rem;
    color: #545a6d;
    position: relative;
    font-size: 13px;
    transition: all 0.4s;
    color: #a6b0cf;
    width: 100%;
    font-size: 18px;
  }
  
  .child-right {
    padding: 30px 15px;
    margin-top: 70px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 250px;
    background: #f8f8fb;
  }
  
  .ReactVirtualized__Table__row :hover {
    background: rgba(25, 118, 210, 0.08);
  }
  
  .ReactVirtualized__Table__headerColumn {
    justify-content: flex-start;
  }
  